<a href="https://colab.research.google.com/github/sandii087/Data-Science-Internship/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
sports = ["cricket", "football", "hockey"]
for x in sports:
  print(x)

cricket
football
hockey

In [5]:

for x in sports:
  print(x)
  if x == "football":
    break

cricket
football

In [6]:
for x in sports:
  print(x)
  if x == "football":
    continue

cricket
football
hockey

while loop: with the while loop we can execute a set of statement as long as condition is true.

In [7]:
num = 1
while num < 6:
  print(num)
  num += 1

1
2
3
4
5

In [18]:
num = 1
while num < 15:
  print(num)
  if num == 11:
    break
  num +=1

1
2
3
4
5
6
7
8
9
10
11